<footer class="gta-footer">
    <div class="gta-footer-container">
        
        
        <div class="gta-footer-brand">
            <h1 class="gta-footer-logo">CAFÉ<br>AYACUCHANO</h1>
            <p class="gta-footer-slogan">TUESTE DE CALIDAD DE AYACUCHO</p>
        </div>

        
        <div class="gta-footer-contact">
            <h2 class="gta-footer-title">CONTACTO</h2>
            <div class="gta-line"></div>
            <p><strong><i class="fas fa-envelope"></i></strong> henrycactus&#64;hotmail.com</p>
            <p><strong><i class="fab fa-whatsapp"></i></strong> +51 981 851 430</p>
            <p><strong><i class="fas fa-map-marker-alt"></i></strong> Jr. San Cristóbal, Ayacucho, Perú</p>
        </div>

        
        <div class="gta-footer-social">
            <h2 class="gta-footer-title">SÍGUENOS</h2>
            <div class="gta-line"></div>
            <div class="gta-social-icons">
                
                <a href="https://www.instagram.com/cafeayacuchano/" target="_blank" class="gta-social-link"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com/cafeayacuchano/" target="_blank" class="gta-social-link"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.tiktok.com/@cafeayacuchano" target="_blank" class="gta-social-link"><i class="fab fa-tiktok"></i></a>
            </div>
        </div>
    </div>

    <div class="gta-footer-legal">
        <p>&copy; 2026 CAFÉ AYACUCHANO. TODOS LOS DERECHOS RESERVADOS.</p>
        <div class="gta-legal-links">
            <a href="#">Términos y Condiciones</a>
            <span class="gta-dot">•</span>
            <a href="#">Política de Privacidad</a>
        </div>
    </div>
</footer>