<footer class="dark-footer" id="main-footer">
    
    <div class="desert-sun-wrapper" id="sun-wrapper" [style.transform]="'translateX(-50%) translateY(' + sunTranslateY + 'px)'">
        <div class="sun-circle">
            <p class="footer-tagline">CONTAMOS HISTORIAS A TRAVÉS<br>DE EXPERIENCIAS</p>
        </div>
    </div>
    
    <div class="footer-content">
        <div class="footer-split">
            <div class="contact-box wooden-sign">
                <h2>CONTACTO</h2>
                <p class="contact-data">henrycactus@hotmail.com<br><br><strong>+51 981 851 430</strong></p>
                <div class="wooden-post"></div>
            </div>
            <div class="social-box wooden-sign">
                <h2>SÍGUENOS</h2>
                <div class="social-icons-large">
                    <a href="https://www.instagram.com/museo_cactus_desert/" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.facebook.com/Henryayalahinostroza/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.tiktok.com/@museo.cactus?_r=1&_t=ZS-95l1QN7RVvJ" target="_blank"><i class="fab fa-tiktok"></i></a>
                </div>
                <div class="wooden-post"></div>
            </div>
        </div>
    </div>

    <img src="/assets/images/decoracion/cactus1.png" class="cactus-real-decor" style="left: 10%; bottom: 65px; height: 180px; z-index: 5;">
    <img src="/assets/images/decoracion/cactus2.png" class="cactus-real-decor" style="left: 30%; bottom: 45px; height: 140px; z-index: 3;">
    <img src="/assets/images/decoracion/cactus1.png" class="cactus-real-decor" style="right: 25%; bottom: 50px; height: 160px; z-index: 5; transform: scaleX(-1);">
    <img src="/assets/images/decoracion/cactus2.png" class="cactus-real-decor" style="right: 8%; bottom: 85px; height: 200px; z-index: 2;">

    <div class="dunes-bg"></div>
    <div class="dunes-bg-front"></div>
</footer>