:host {
    display: block;
}


@keyframes slideLeft { 
    from { transform: translateX(100%); } 
    to { transform: translateX(0); } 
}

@keyframes toastAnim {
    0% { opacity: 0; bottom: 20px; }
    10% { opacity: 1; bottom: 40px; }
    90% { opacity: 1; bottom: 40px; }
    100% { opacity: 0; bottom: 20px; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


.custom-scrollbar::-webkit-scrollbar { 
    width: 6px; 
}
.custom-scrollbar::-webkit-scrollbar-track { 
    background: rgba(255,255,255,0.05); 
    border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb { 
    background: rgba(255,255,255,0.2); 
    border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(209, 184, 142, 0.5); 
}